

@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
	
	margin: 0;
}


h1{
  color: rgb(106, 90, 205);
}

h2{
  color: rgb(60, 179, 113);
}

/* Style the header */
header {
    background-color:rgb(180, 180, 180);
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
nav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */

article {
    border: 1px solid grey;
    background-color: red;
    float: left;
    padding: 20px;
}

article section {
	width: 840px;
	height: 270px;
	padding: 0 0 0 30px;
	margin: 0 0 0 10px;
}

/* Left and right column */
aside {
    width: 25%;
    float: right;
}

/* Middle column */
section {
    width: 75%;
    float: left;
}

/* Clear floats after the columns */
article:after {
    content: "";
    display: table;
    clear: both;
}

img {
	max-width: 100%;
	height:auto;
}

p {
	font-size: 0.9375rem;
	color:#0F3;
	font-style:italic;
}

.ab{
	height: 100%;
	width:1349px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ac{
	background-color: #B10DC9;
  width: 600px;
  height: 600px;
  
}
#gallery {
  display: block;
  position: relative;
  top: 20px;
  right: 15px;
  width:100%;
}
ul{
	display:block;
    list-style: none;
    border: 1px solid #b2b2b2;
    padding: 10px;
    margin-top: 5px;
}

ul li a{
	font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    padding-right: 0.5em;
    color: #696969;
}

ul li a:hover{
	color: yellow;
}




.back {
	background-color: #FF4136;
  position: absolute;
  left: 35%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.next {
	background-color: #FF4136;
  position: absolute;
  left: 65%;
  top: 90%;
  transform: translate(-50%, -50%);
}

/* Style the footer */
footer {
    background-color: #3cb371;
    padding: 10px;
	text-align: center;
	 
    
}

.designer{
  font-family: "Times New Roman", Times, serif;
  float: right;
}

.piva{
  font-style: italic;
  float: left;
 
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 1024px) {
  article, section, aside, footer, article section {   
        width: 100%;
        padding: 10px;
    }
	
	.ab{
	height: auto;
	width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ac{
	background-color: #B10DC9;
  	width: 300px;
  	height: 300px;
  
}
#gallery {
  display: block;
  position: relative;
  top: 10px;
  left: 1px;
  width:100%;
}

.back {
	background-color: #FF4136;
  position: relative;
  left: 35%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.next {
	background-color: #FF4136;
  position: relative;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

ul{
	display:block;
    list-style: none;
    border: 1px solid #b2b2b2;
    padding: 10px;
    margin: 0;
}

ul li a{
	font-weight: bold;
    text-decoration: none;
    line-height: 1.4em;
    padding-right: 0em;
    color: #696969;
}

ul li a:hover{
	color: yellow;
}


aside {
    width: 100%;
	height: auto;
    float: none;
	position:relative;
	top: 15px;
	left: 10px;
}
	
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media only screen and (max-width: 480px) {
     nav a {
        float: none;
        width:100%;
    }
	aside {
    width: 100%;
	height:auto;
    float: none;
	position:relative;
	top: 30px;
	left: 10px;
	font-size:14px;
}

.sider {
	position: relative;
	top: 13px;
}
	
	.designer{
  font-family: "Times New Roman", Times, serif;
  float: none;
  text-align: left;
  position:relative;
  top: 15px;
}
		
	.piva{
  		font-style: italic;
  		float: none;
  		width: 100%;
		text-align:left;
		position:relative;
  top: 15px;
 		}
		
	.colorf {
		background-color:#FFF;
	}
	.ab {
		width: 100%;
		height: auto;
			
	}
	
	.ac {
		width: 100%;
		height: auto;
		position: relative;
		top: 5px;
		left: 1px;
	}	
	
	.back {
		background-color: #FF4136;
  position: absolute;
  left: 35%;
  top: 83%;
  transform: translate(-50%, -50%);
	}
	
	.next {
	background-color: #FF4136;
  position: absolute;
  left: 68%;
  top: 83%;
  transform: translate(-50%, -50%);
}

ul{
	display:block;
    list-style: none;
    border: 1px solid #b2b2b2;
    padding: 0;
    margin: 0;
}

ul li a{
	font-weight: bold;
    text-decoration: none;
    line-height: 1.4em;
    padding-right: 0em;
    color: #696969;
}

ul li a:hover{
	color: yellow;
}

#gallery {
  display: block;
  position: relative;
  top: 10px;
  left: 2px;
  width:100%;
}


}

